<head>
  <link rel="icon" type="image/png" href="https://yawcty.github.io/image/icon/image.png">
  <title>[Template]</title>
  <link rel="stylesheet" href="https://yawcty.github.io/style.css">
</head>
<body>
  <header>
    <div class="top">
      <h1><a href="https://yawcty.github.io/home">Yawcty</a></h1>
    </div>
      <div class="title">
        <h2>[Template]</h2>
      </div>
  </header>
  <div style="height: 200px"></div>
  <div class="row centered">
    <div style="width: 300px">
      <a href="https://yawcty.github.io/template">
        <img class="folder" src="https://yawcty.github.io/image/Blank_Map_of_The_World_Equirectangular_Projection.png">
      </a>
      <h1>[Template]</h1>
      <p class="lefted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec pulvinar diam. Nulla facilisi. Duis pretium enim convallis sem vehicula consequat. Donec faucibus mi nulla, eu tristique purus malesuada fringilla. Nulla metus arcu, vehicula et diam at, aliquet fringilla sem. Fusce et urna ac massa malesuada blandit eget sit amet velit. Aliquam sit amet dui sem. Pellentesque tincidunt ipsum vel laoreet vestibulum. Sed ultricies mollis tortor eu mollis. Aliquam sit amet elit ipsum. In ut eros nibh. Aenean lacinia non odio ut consectetur. Morbi non facilisis nibh.</p>
    </div>
  </div>
  <div style="height: 200px"></div>
  <div style="background-color: #adadad" class="centered">
    <div style="height: 10px"></div>
    <h1>Featured</h1>
    <div style="height: 25px"></div>
    <div class="row centered">
      <div style="width: 300px">
      <h2 class="featured1"></h2>
      <a href="https://yawcty.github.io/featured/redirect1">
        <img class="folder" src="https://yawcty.github.io/image/featured1.png">
      </a>
      </div>
      <div style="width: 300px">
      <h2 class="featured2"></h2>
      <a href="https://yawcty.github.io/featured/redirect2">
        <img class="folder" src="https://yawcty.github.io/image/featured2.png">
      </a>
      </div>
      <div style="width: 300px">
      <h2 class="featured3"></h2>
      <a href="https://yawcty.github.io/featured/redirect3">
        <img class="folder" src="https://yawcty.github.io/image/featured3.png">
      </a>
      </div>
    </div>
  </div>  
</body>
</body>
