body {
  background-color: black;
  color: #d1d1d1;
  font-family: Arial;
  margin: 0px;
}
h1, h2, h3, h4, h5, h6 {
  margin-block-start: 0.0em;
  margin-block-end: 0.0em;
}
header {
  position: fixed;
  z-index: 100;
  width: 100%;
}
header .top a:hover {
  color: white;
}
header .top a {
  color: #d1d1d1;
  text-decoration: none;
}
footer {
  background-color: #110030;
}
a {
  transition: color 0.2s, background-color 0.2s, transform 0.2s;
}
a img {
  transition: transform 0.2s;
}
a .folder:hover {
  transform: scale(1.1);
}
a:-webkit-any-link hover {
  color: white;
  text-decoration: underline;
}
.folder {
  width: 250px;
  padding: 15px 15px 15px 15px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
}
div not(.filler) {
  border: 1px solid white;
}
.centered {
  text-align: -webkit-center;
}
.row.centered {
  justify-content: center;
}
.lefted {
  text-align: -webkit-left;
}
.lefted .row{
  justify-content: left;
}
.righted {
  text-align: -webkit-right;
}
.righted .row{
  justify-content: right;
}
.title {
  padding: 2px 20px 12px 20px;
  background: #001840;
  text-align: left;
}
.top {
  padding: 12px 20px 12px 20px;
  background: #010024;
  color: #d1d1d1;
  text-align: left;
}
.featured1::before {
  content: "Placeholder1";
}
.featured2::before {
  content: "Placeholder2";
}
.featured3::before {
  content: "Can You Draw Every Flag in Powerpoint? (Part 1)";
}
