body {
  background-color: white;
  color: black;
  font-family: Arial;
}
header {
  background: gray;
  color: white;
  text-align: left;
  z-index: 99;
  width: 100%
}
a {
  text-decoration: none;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
a:not(:focus-visible), button:not(:focus-visible), input[type=submit]:not(:focus-visible), .ui-slider-handle:not(:focus-visible) {
    outline: none;
}
.row {
  display: flex;
  width: 900px;
}
.col {
  width: 300px;
}
