body {
  background-color: white;
  color: black;
  font-family: Arial;
  margin: 0px;
}
header {
  background: gray;
  color: white;
  text-align: left;
  z-index: 99;
  width: 100%
  position: fixed;
  top: 0;
  padding: 12px 20px 12px 20px;
}
a {
  text-decoration: none;
}
a:not(:hover) {
  text-decoration: none;
}
.row {
  display: flex;
  width: 900px;
}
.col {
  width: 300px;
}
