body {
  background-color: black;
  color: #bababa;
  font-family: Arial;
  margin: 0px;
}
h1, h2, h3, h4, h5, h6 {
  margin-block-start: 0.0em;
  margin-block-end: 0.0em;
}
header {
  position: fixed;
  z-index: 100;
  width: 100%;
}
header .top a:hover {
  color: white;
}
header .top a {
  color: #d1d1d1;
  text-decoration: none;
}
p {
  margin-block-start: 0em;
}
p .explanation {
  max-width: 1100px;
  margin-block-start: 1em;
}
footer {
  background-color: #110030;
}
a {
  transition: color 0.2s, background-color 0.2s, transform 0.2s;
  color: #d1d1d1;
  text-decoration: none;
}
#onestars:checked ~ .onestar {
  display: block;
}
#twostars:checked ~ .twostar {
  display: block;
}
#threestars:checked ~ .threestar {
  display: block;
}
#fourstars:checked ~ .fourstar {
  display: block;
}
#fivestars:checked ~ .fivestar {
  display: block;
}
.starbox {
  color: #696969;
  border: 1px solid#696969;
  border-radius: 10px;
  background-color: #424242;
}
#onestars:checked ~ #onestarbox {
  color: #ff4800;
  border: 1px solid#ff4800;
  background-color: #6d2a00;
}
#twostars:checked ~ #twostarbox {
  color: #ff4800;
  border: 1px solid#ff4800;
  background-color: #6d2a00;
}
#threestars:checked ~ #threestarbox {
  color: #ff4800;
  border: 1px solid#ff4800;
  background-color: #6d2a00;
}
#fourstars:checked ~ #fourstarbox {
  color: #ff4800;
  border: 1px solid#ff4800;
  background-color: #6d2a00;
}
#fivestars:checked ~ #fivestarbox {
  color: #ff4800;
  border: 1px solid #ff4800;
  background-color: #6d2a00;
}
input {
  display: none;
}
#handle:checked ~ #funkyfiller {
  max-height: 110;
  transition: max-height 0.4s ease;
}
#funkyfiller {
  max-height: 60;
}
a img {
  transition: transform 0.2s;
}
a .item:hover {
  transform: scale(1.1);
}
a:hover {
  color: white;
  text-decoration: underline;
}
.item {
  width: 250px;
  padding: 15px 15px 15px 15px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
}
div .line {
  height: 0.5px;
  color: #d1d1d1;
}
div .startag {
  color: #ff4800;
  border: 1px solid #ff4800;
  border-radius: 10px;
  background-color: #6d2a00;
  width: 75px;
}
.centered {
  text-align: -webkit-center;
}
.row.centered {
  justify-content: center;
}
.lefted {
  text-align: -webkit-left;
}
.lefted .row{
  justify-content: left;
}
.righted {
  text-align: -webkit-right;
}
.righted .row{
  justify-content: right;
}
.title {
  padding: 2px 20px 12px 20px;
  background: #001840;
  text-align: left;
}
.title h2::before {
  content: "▶";
}
.title h2 {
  padding: 0.15em;
}
.title h2 a {
  padding: 0.35em;
}
.top {
  padding: 12px 20px 12px 20px;
  background: #010024;
  color: #d1d1d1;
  text-align: left;
}
.featured1::before {
  content: "Desmos Centipede";
}
.featured2::before {
  content: "Placeholder2";
}
.featured3::before {
  content: "Can You Draw Every Flag in Powerpoint? (Part 1)";
}
