body {
  background-color: black;
  color: #bababa;
  font-family: Arial;
  margin: 0px;
}
h1, h2, h3, h4, h5, h6 {
  margin-block-start: 0.0em;
  margin-block-end: 0.0em;
}
header {
  position: fixed;
  z-index: 100;
  width: 100%;
}
header .top a:hover {
  color: white;
}
header .top a {
  color: #d1d1d1;
  text-decoration: none;
}
p {
  margin-block-start: 0em;
}
p .explanation {
  max-width: 1100px;
  margin-block-start: 1em;
}
body:has(#handle:checked) .explanation {
  margin-left: 100px;
  margin-right: 100px;
}
footer {
  background-color: #110030;
}
a {
  transition: color 0.2s, background-color 0.2s, transform 0.2s;
  color: #d1d1d1;
  text-decoration: none;
}
.carrier {
  display: none;
  width: 300px
}
body:has(#onestars:checked) .onestar {
  display: block;
}
body:has(#twostars:checked) .twostar {
  display: block;
}
body:has(#threestars:checked) .threestar {
  display: block;
}
body:has(#fourstars:checked) .fourstar {
  display: block;
}
body:has(#fivestars:checked) .fivestar {
  display: block;
}
.starbox {
  color: #696969;
  border: 1px solid #696969;
  border-radius: 10px;
  background-color: #424242;
  width: 75px;
  margin-block-end: 0.1em;
  height: 1.1em;
  transition: border 0.2s;
}
.starbox:hover {
  border: 1px solid white !important;
}
body:has(#onestars:checked) #onestarbox {
  color: #ff4800;
  border: 1px solid  #ff4800;
  background-color: #6d2a00;
}
body:has(#twostars:checked) #twostarbox {
  color: #ff4800;
  border: 1px solid #ff4800;
  background-color: #6d2a00;
}
body:has(#threestars:checked) #threestarbox {
  color: #ff4800;
  border: 1px solid #ff4800;
  background-color: #6d2a00;
}
body:has(#fourstars:checked) #fourstarbox {
  color: #ff4800;
  border: 1px solid #ff4800;
  background-color: #6d2a00;
}
body:has(#fivestars:checked) #fivestarbox {
  color: #ff4800;
  border: 1px solid #ff4800;
  background-color: #6d2a00;
}
input {
  display: none;
}
label {
  display: block;
  cursor: pointer;
}
.starbox span {
  position: relative;
  top: -3px;
  user-select: none;
}
#menucontainer {
  position: fixed;
}
#tagmenu {
    background-color: #292929;
    border: 1px solid #696969;
    border-radius: 12px;
    width: 90px;
    height: 133px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: flex-end;
}
body:has(#handle:checked) #funkyfiller {
  max-height: 106px;
}
#funkyfiller {
  height: 150px;
  max-height: 0px;
  transition: max-height 0.4s ease;
}
#fakehandle:hover {
  color: white;
}
#fakehandle {
  transition: color 0.2s;
}
a img {
  transition: transform 0.2s;
}
a .item:hover {
  transform: scale(1.1);
}
a:hover {
  color: white;
  text-decoration: underline;
}
.item {
  width: 250px;
  padding: 15px 15px 15px 15px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
}
div .line {
  height: 0.5px;
  color: #d1d1d1;
}
div .startag {
  color: #ff4800;
  border: 1px solid #ff4800;
  border-radius: 10px;
  background-color: #6d2a00;
  width: 75px;
}
.centered {
  text-align: -webkit-center;
}
.row.centered {
  justify-content: center;
}
.lefted {
  text-align: -webkit-left;
}
.lefted .row{
  justify-content: left;
}
.righted {
  text-align: -webkit-right;
}
.righted .row{
  justify-content: right;
}
.title {
  padding: 2px 20px 12px 20px;
  background: #001840;
  text-align: left;
}
.title h2::before {
  content: "▶";
}
.title h2 {
  padding: 0.15em;
}
.title h2 a {
  padding: 0.35em;
}
.top {
  padding: 12px 20px 12px 20px;
  background: #010024;
  color: #d1d1d1;
  text-align: left;
}
body:has(#handle:checked) #fakehandle::before {
  content: "▲▲▲▲"
}
body:has(#handle:not(:checked)) #fakehandle::before {
  content: "▼▼▼▼"
}
